.c-header{
  padding: 30px 0;
  text-align: center;
}

.certificate-bx{
  text-align: center;
}
.certificate-bx h6{
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}
#acc-cnt-3{
  overflow-x: auto;
  background: #fff;
}
.certificate-bx ul li{
  list-style: none;
  font-size: 19px;
  padding: 5px;
}
.hgh{
  background: rgba(98,156,179, 0.5);
}
.c-logout{
  padding: 20px 0;
}
